In [1]:
## Data Preprocessing
"""
This notebook prepares the dataset for machine learning by:
- Separating features and target
- Handling missing values
- Encoding categorical variables
- Splitting into training and testing sets
"""

'\nThis notebook prepares the dataset for machine learning by:\n- Separating features and target\n- Handling missing values\n- Encoding categorical variables\n- Splitting into training and testing sets\n'

In [4]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import seaborn as sns
import sklearn

df = pd.read_csv("../data/Banking_data.csv")
df.head()

,age,job,marital,marital_status,education,default,balance,housing,loan,contact,day,month,day_month,duration,campaign,pdays,previous,poutcome,y
0,58,management,married,married,tertiary,no,2143,yes,no,unknown,5,may,5-May,261,1,-1,0,unknown,no
1,44,technician,single,single,secondary,no,29,yes,no,unknown,5,may,5-May,151,1,-1,0,unknown,no
2,33,entrepreneur,married,married,secondary,no,2,yes,yes,unknown,5,may,5-May,76,1,-1,0,unknown,no
3,47,blue-collar,married,married,unknown,no,1506,yes,no,unknown,5,may,5-May,92,1,-1,0,unknown,no
4,33,unknown,single,single,unknown,no,1,no,no,unknown,5,may,5-May,198,1,-1,0,unknown,no

In [6]:
from sklearn.impute import SimpleImputer
X_df = df.drop('y', axis=1)

imputer = SimpleImputer(strategy='most_frequent')
X_df[:] = imputer.fit_transform(X_df)

X_df.isnull().sum()

age               0
job               0
marital           0
marital_status    0
education         0
default           0
balance           0
housing           0
loan              0
contact           0
day               0
month             0
day_month         0
duration          0
campaign          0
pdays             0
previous          0
poutcome          0
dtype: int64

In [7]:
print(X_df)

       age           job   marital marital_status  education default  balance  \
0       58    management   married        married   tertiary      no     2143
1       44    technician    single         single  secondary      no       29
2       33  entrepreneur   married        married  secondary      no        2
3       47   blue-collar   married        married    unknown      no     1506
4       33       unknown    single         single    unknown      no        1
...    ...           ...       ...            ...        ...     ...      ...
45211   29    management    single         single   tertiary      no      765
45212   68       retired   married        married  secondary      no     1146
45213   53    management   married        married   tertiary      no      583
45214   73       retired   married        married  secondary      no     2850
45215   71       retired  divorced       divorced    primary      no     1729

      housing loan   contact  day month day_month  duration  campaign  pdays  \
0         yes   no   unknown    5   may     5-May       261         1     -1
1         yes   no   unknown    5   may     5-May       151         1     -1
2         yes  yes   unknown    5   may     5-May        76         1     -1
3         yes   no   unknown    5   may     5-May        92         1     -1
4          no   no   unknown    5   may     5-May       198         1     -1
...       ...  ...       ...  ...   ...       ...       ...       ...    ...
45211      no   no  cellular   16   nov    16-Nov       238         1     -1
45212      no   no  cellular   16   nov    16-Nov       212         1    187
45213      no   no  cellular   17   nov    17-Nov       226         1    184
45214      no   no  cellular   17   nov    17-Nov       300         1     40
45215      no   no  cellular   17   nov    17-Nov       456         2     -1

       previous poutcome
0             0  unknown
1             0  unknown
2             0  unknown
3             0  unknown
4             0  unknown
...         ...      ...
45211         0  unknown
45212         6  success
45213         4  success
45214         8  failure
45215         0  unknown

[45216 rows x 18 columns]