In [1]:
## Data Preprocessing
"""
This notebook prepares the dataset for machine learning by:
- Separating features and target
- Handling missing values
- Encoding categorical variables
- Splitting into training and testing sets
"""

'\nThis notebook prepares the dataset for machine learning by:\n- Separating features and target\n- Handling missing values\n- Encoding categorical variables\n- Splitting into training and testing sets\n'

In [3]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import seaborn as sns


df = pd.read_csv("../data/Banking_data.csv")
df.head()

,age,job,marital,marital_status,education,default,balance,housing,loan,contact,day,month,day_month,duration,campaign,pdays,previous,poutcome,y
0,58,management,married,married,tertiary,no,2143,yes,no,unknown,5,may,5-May,261,1,-1,0,unknown,no
1,44,technician,single,single,secondary,no,29,yes,no,unknown,5,may,5-May,151,1,-1,0,unknown,no
2,33,entrepreneur,married,married,secondary,no,2,yes,yes,unknown,5,may,5-May,76,1,-1,0,unknown,no
3,47,blue-collar,married,married,unknown,no,1506,yes,no,unknown,5,may,5-May,92,1,-1,0,unknown,no
4,33,unknown,single,single,unknown,no,1,no,no,unknown,5,may,5-May,198,1,-1,0,unknown,no

In [4]:
X = df.iloc[:, :-1].values
print(X)

print()

Y = df.iloc[:,-1].values
print(Y)

[[58 'management' 'married' ... -1 0 'unknown']
 [44 'technician' 'single' ... -1 0 'unknown']
 [33 'entrepreneur' 'married' ... -1 0 'unknown']
 ...
 [53 'management' 'married' ... 184 4 'success']
 [73 'retired' 'married' ... 40 8 'failure']
 [71 'retired' 'divorced' ... -1 0 'unknown']]

['no' 'no' 'no' ... 'yes' 'yes' 'yes']